@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus,
textarea:focus {
    outline: none;
}

html {
    background: rgb(238, 174, 202);
    background: -moz-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

input,
textarea {
    font-size: 16px !important;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

input:focus {
    outline: none;
}