@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus,
textarea:focus {
    outline: none;
}

html {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

input,
textarea {
    font-size: 16px !important;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

input:focus {
    outline: none;
}