@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus,
textarea:focus {
    outline: none;
}

html {
    background-color: rgb(148 163 184);
}

input,
textarea {
    font-size: 16px !important;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.animation-x {
    animation-name: fadeIn;
    animation-duration: 0.8s
}

.animation-2x {
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.animation-3x {
    animation-name: fadeIn;
    animation-duration: 0.2s
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}